@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <br />
    <br />
    <br />

    <div class="d-flex flex-wrap justify-content-center mt-4">
        <a asp-controller="HospitalInfoes" class="btn btn-lg btn-outline-dark mx-2 mb-3" asp-action="Index">Hospital Info</a>
        <a asp-controller="Appointments" class="btn btn-lg btn-outline-dark mx-2 mb-3" asp-action="Index">Appointments</a>
        <a asp-controller="Contacts" class="btn btn-lg btn-outline-dark mx-2 mb-3" asp-action="Index">Contacts</a>
        <a asp-controller="Departments" class="btn btn-lg btn-outline-dark mx-2 mb-3" asp-action="Index">Department</a>
        <a asp-controller="FeedbackForms" class="btn btn-lg btn-outline-dark mx-2 mb-3" asp-action="Index">Feedback Form</a>
        <a asp-controller="Rooms" class="btn btn-lg btn-outline-dark mx-2 mb-3" asp-action="Index">Rooms</a>
    </div>
</div>




