@using Hospital.Services
@model Hospital.Models.FeedbackForm

@{
    ViewData["Title"] = "Create";
}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="/css/card.css" rel="stylesheet" />

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Create</h4>
            <span class="ml-1">New Feedback Form</span>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8 col-lg-8">
            <div class="card testimonial-card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body text-center">
                    <h4>Feedback Form</h4>
                    <hr />
                    <div class="text-left p-3">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group row my-3">
                                <label class="col-4 my-2"><i class='bx bxs-book-content'></i> <b>Name</b></label>
                                <div class="col-8">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label class="col-4 my-2"><i class='bx bxs-book-content'></i> <b>Description</b></label>
                                <div class="col-8">
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label class="col-4 my-2"><i class='bx bxs-book-content'></i> <b>Email</b></label>
                                <div class="col-8">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label class="col-4 my-2"><i class='bx bxs-book-content'></i> <b>Phone</b></label>
                                <div class="col-8">
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label class="col-4 my-2"><i class='bx bxs-book-content'></i> <b>Rating Section</b></label>
                                <div class="col-8">
                                    <input asp-for="RatingSection" class="form-control" />
                                    <span asp-validation-for="RatingSection" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row my-4">
                                <div class="col-4">
                                    <a class="btn btn-outline-dark" asp-action="Index">Back to list</a>
                                </div>
                                <div class="col-8">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
