@using Hospital.Services
@model Hospital.ViewModels.RoomViewModel

@{
    ViewData["Title"] = "Create";
}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="/css/card.css" rel="stylesheet" />

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Create</h4>
            <span class="ml-1">New Room</span>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8 col-lg-8">
            <div class="card testimonial-card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body text-center">      
                    <h4>Rooms</h4>
                    <hr />
                    <div class="text-left p-3">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group row my-3">
                                <label class="col-4 my-2"><i class='bx bxs-book-content'></i> <b>Room Number</b></label>
                                <div class="col-8">
                                    <input asp-for="Room.RoomNumber" class="form-control" />
                                    <span asp-validation-for="Room.RoomNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label class="col-4 my-2"><i class='bx bxs-book-content'></i> <b>Type</b></label>
                                <div class="col-8">
                                    <input asp-for="Room.Type" class="form-control" />
                                    <span asp-validation-for="Room.Type" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label class="col-4 my-2"><i class='bx bxs-book-content'></i> <b>Status</b></label>
                                <div class="col-8">
                                    <input asp-for="Room.Status" class="form-control" />
                                    <span asp-validation-for="Room.Status" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label class="col-4 my-2"><i class='bx bxs-book-content'></i> <b>Hospital Information</b></label>
                                <div class="col-8">
                                    <select asp-for="Room.HospitalInfoId" class="form-select" id="HospitalDropdown">
                                        <option value="">-- Select Hospital --</option>
                                        @foreach (var hospital in Model.Hospitals)
                                        {
                                            <option value="@hospital.Key">@hospital.Value</option>
                                        }
                                    </select>                                    
                                    <span asp-validation-for="Room.HospitalInfo" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row my-4">
                                <div class="col-4">
                                    <a class="btn btn-outline-dark" asp-action="Index">Back to list</a>
                                </div>
                                <div class="col-8">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
