@using Hospital.Services
@model Hospital.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Edit";
}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="/css/card.css" rel="stylesheet" />

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Edit</h4>
            <span class="ml-1">Edit Contact info</span>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8 col-lg-8">
            <div class="card testimonial-card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body text-center">


                    <h4>Contact Info</h4>
                    <hr />
                    <div class="text-left p-3 text-dark">

                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Contact.Id" />

                            <div class="form-group row my-3">
                                <div class="col-4 my-2">
                                    <i class='bx bxs-book-content'></i>
                                    <b>Email</b>
                                </div>
                                <div class="col-8">
                                    <input asp-for="Contact.Email" class="form-control" />
                                    <span asp-validation-for="Contact.Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <div class="col-4 my-2">
                                    <i class='bx bxs-book-content'></i>
                                    <b>Phone</b>
                                </div>
                                <div class="col-8">
                                    <input asp-for="Contact.Phone" class="form-control" />
                                    <span asp-validation-for="Contact.Phone" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <div class="col-4 my-2">
                                    <i class='bx bxs-book-content'></i>
                                    <b>Phone Number</b>
                                </div>
                                <div class="col-8">
                                    <input asp-for="Contact.PhoneNumber" class="form-control" />
                                    <span asp-validation-for="Contact.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <div class="col-4 my-2">
                                    <i class='bx bxs-book-content'></i>
                                    <b>Hospital Info</b>
                                </div>
                                <div class="col-8">
                                    <select asp-for="Contact.HospitalInfoId" class="form-select" id="HospitalDropdown">
                                        <option value="">-- Select Hospital --</option>
                                        @foreach (var hospital in Model.Hospitals)
                                        {
                                            <option value="@hospital.Key">@hospital.Value</option>
                                        }
                                    </select>
                                    <span asp-validation-for="Contact.HospitalInfo" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row my-4">
                                <div class="col-4">
                                    <a class="btn btn-outline-dark" asp-action="Index">Back to list</a>
                                </div>
                                <div class="col-8">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
